
.box{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    

}



.title-box{

    padding: 2.0rem;
}

.highlight{

    background-color: #f4cd32;
    color: black;

}

.sign-up-box{

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    align-items: center;

}

.sign-up-form{

    align-items: center;

}

.error-message{

    align-items: center;

}


.submit{

    text-align: center;
}

.submit button{

    padding: 0.5rem;
    border-radius: 10%;
}