
.header{

    background-color: whitesmoke;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    top: 0px;
    z-index: 1;
    
}

.container{

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 100vh;
}

.title{
    display: flex;
    background-color:#f4cd32;
    color:black;
    padding: 0.5rem;
    font-size: 3.0rem;
    text-align: center;
    align-items: center;
}

.title a{

    color:black;
    padding: 0.5rem;
    font-size: 3.0rem;
    text-align: center;
    text-decoration: none;
}


.dynamic-field{

    margin: 0.5rem;
}


.ingredients{

    margin-top: 0.2rem;
}

.steps{
    margin-top: 0.2rem;


}

.title-and-button{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add{

    float: right;
    margin: 0.5rem;

}

.main-area{

    margin: 2.0rem auto;
    padding: 1.5rem;
    width: 70%;
}



.buttons{


    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    margin: 2.0rem ;
}

