


.header{

    background-color: whitesmoke;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    top: 0px;
    z-index: 1;
    
}

.container{

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 100vh;
}

.title{

    display: flex;
    background-color:#f4cd32;
    color:black;
    padding: 0.5rem;
    font-size: 3.0rem;
    text-align: center;
    align-items: center;
}

.title a{

    color:black;
    padding: 0.5rem;
    font-size: 3.0rem;
    text-align: center;
    text-decoration: none;
}

.search{

    margin-top: auto;
    margin-bottom: auto;

}



.navbar{

    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;

    

}

.main{

    padding: 1.0rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 50%;


}

.nav-link{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top:2.0rem;
    text-decoration: none;
    color: whitesmoke;
    width: 100%;


}

.nav-link a{

    text-decoration: none;
    color: whitesmoke;


}

.icon{

    vertical-align: middle;
    font-size: 1.9rem;
    margin-right: 0.3rem;
}



.footer{

    
    padding: 2.0rem;
    border-top: 1px solid grey;

}


.main-area{

    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 70%;
}

.recipe-container{

    width: 90%;
    border: 1px solid whitesmoke ;
    margin: 0 auto;
}


.recipe-title{

    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    justify-content: space-between;

}


.recipe-rating{

    display: flex;
    align-items: center;
}


.recipe-heading{

    padding: 1.5rem;
    line-break:strict;
    

}

.recipe-ingredients{

    padding: 1.0rem;

}

.recipe-directions{

    padding: 1.0rem;

}

.recipe-ingredients h3{

    color: #f4cd32;
    padding: 1.0rem;

}

.recipe-directions h3{

    color: #f4cd32;
    padding: 1.0rem;

}

.recipe-additional{

    padding: 1.0rem;

}


.box{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    

}

.title-box{

    padding: 2.0rem;
}

.loader{

    display: flex;
    justify-content: center;
    align-items: center;
}

.empty{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin: 2.0rem;
    width: 90%;
}

